body { background: #182733; color: white}

#gameList {
  /* General */

  /* Flex */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gameListItem {
  /* General */
  display: inline-block;
  background: #3b4f5e;
  border: 1px solid #3b4f5e;
  padding: 8px;
  margin: 4px;
  border-radius: 5px;
  color: white;
  font-family: 'Roboto',  sans-serif;
  font-size: 14px;
  text-align: center;

  /* Flex */
  flex-grow: 1;
  flex-basis: 15%;
  height: 200px;
}

.gameListItem:hover {
  cursor: pointer;
  border: 1px solid white
}

.gameListItem img {
  display: block;
  margin: 0 auto;
}