body { background: #182733; color: white}

#gameList {
  /* General */

  /* Flex */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#topBar {
  margin: 16px;
}

#list-root input[type="text"] {
  border: none;
  border-bottom: 2px solid lightgrey;
  background: transparent;
  color: white;
  font-size: 20px;
}

#list-root input[type="text"]:focus {
  outline: none;
}

#list-root #refresh {
  color: white;
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  float: right;
  display: block;
}

#list-root button:hover {
  cursor: pointer;
}

#gameSearch {
  width: 50%;
  margin: 0;
  padding: 0;
}

.gameListItem {
  /* General */
  display: inline-block;
  background: #3b4f5e;
  border: 1px solid #3b4f5e;
  padding: 8px;
  margin: 4px;
  border-radius: 5px;
  color: white;
  font-family: 'Roboto',  sans-serif;
  font-size: 14px;
  text-align: center;

  /* Flex */
  flex-grow: 1;
  flex-basis: 15%;
  height: 200px;
}

.gameListItem:hover {
  cursor: pointer;
  border: 1px solid white
}

.gameListItem img {
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}
