.downloads a {
  color: white;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  background: #3b4f5e;
  border: 1px solid #3b4f5e;
  padding: 6px;
  margin: 5px;
}

.downloads a:hover {
  color: lightgray;
}

.backButton {
  margin-left: 50px;
  display: block;
  background: none;
  border: none;
  color: white;
  font-size: 26px;
  padding: 10px;
}

.backButton:hover {
  cursor: pointer;
  color: lightgrey;

  transition: color 0.3s;
}

.backButton:focus {
  outline: none;
}

#game-root img {
  width: 200px;
  padding: 12px;
}

#game-description {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#game-description::-webkit-scrollbar {
  display: none;
}

#details {
  display: flex;
  max-height: 300px;
}

.loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  margin: 25%;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}