.dlpopup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: #3b4f5e;
  width: 75%;
  text-align: center;
  border-radius: 5px;
  border: 1px solid white;
}

.popup-section {
  margin: auto 0;
}

.dlpopup input[type="text"] {
  font-size: 16px;
  width: 60%;
}