.downloadSection {
  margin: 20px;
  background: #3b4f5e;
  padding: 20px;
  border-radius: 5px;
}

.downloadSection span {
  padding: 0 6px;
  transition: color 0.3s;
}

.downloadSection .controls span:hover {
  color: lightgrey !important;
  transition: color 0.3s;
  cursor: pointer;
}

.downloadSection .name {
  text-decoration: underline;
}

.downloadSection .progressBar {
  margin: 4px 6px;
  width: 100%;
  background-color: darkgrey;
  height: 20px;
}

.downloadSection .progressUnder {
  height: inherit;
  background-color: white;
}

.downloadSection .progressMessage {
  margin: 0 auto;
  color: #182733;
}

.downloadSection .greyed {
  color: darkgrey;
}

.fileOpen {
  float: right;
}

.fileOpen button {
  display: block;
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  padding: 2px;
}

.fileOpen button:focus {
  border: none;
  outline: none;
}

.fileOpen button:hover {
  cursor: pointer;
}